body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 0 10px;
}

.pageTitleTextDiv {
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.filmResultsDiv {
  height: 300px;
  width: 90%;
  padding: 0 4px;
  overflow-wrap: break-word;
  overflow: auto;

  margin-left: auto;
  margin-right: auto;
}
#ball {
  height: 20%;
}
#movingMan {
  float: left;
  height: 20%;
}

.dataEntryDiv {
  display: inline-block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin: 0 10px;
  background: #ce8888;
}
